
flask==2.0.3
beautifulsoup4==4.10.0
numpy==1.22.3
googletrans==4.0.0-rc1
requests==2.27.1
scipy
pandas==1.4.1
lxml==4.8.0
line-bot-sdk==2.1.0
datetime 
matplotlib
gspread==5.2.0
oauth2client==4.1.3
pyimgur
mpl_finance
arrow
seaborn
yfinance
gunicorn==20.0.4
apscheduler==3.6.3
mplfinance
pandas_datareader==0.9.0rc1
# ta-lib
